*.csv filter=lfs diff=lfs merge=lfs -text
*.sjon filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
.csv filter=lfs diff=lfs merge=lfs -text
.json filter=lfs diff=lfs merge=lfs -text
outputdata filter=lfs diff=lfs merge=lfs -text
